<a href="https://colab.research.google.com/github/gokultej/DSA-WITH-PYTHON/blob/main/DSA(DAY1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Person:
  def __init__(self,name):
    self.name = name

  def say(self):
    print("Hello my name",self.name)

P = Person("gokul bolte")
p.say()

Day 1

Use of pass Statement in Function

In [ ]:
def say():
  pass

say()

Return statement

In [ ]:


0 1 1 2 3 5  8 13 21






def fibo(n):
  a=0
  b=1
  c=0



  for i in range(2,n+1):
    c= a+b

    a=b
    b=c

  return c
r=fibo(4)
print(r)

3

In [ ]:
def nth_fibonacci(n):
    if n <= 1:
        return n

    # To store the curr Fibonacci number
    curr = 0

    # To store the previous Fibonacci numbers
    prev1 = 1
    prev2 = 0

    # Loop to calculate Fibonacci numbers from 2 to n
    for i in range(2, n + 1):

        # Calculate the curr Fibonacci number
        curr = prev1 + prev2

        # Update prev2 to the last Fibonacci number
        prev2 = prev1

        # Update prev1 to the curr Fibonacci number
        prev1 = curr

    return curr

n = 5
result = nth_fibonacci(n)
print(result)

5